<!-- Contacts Header -->
<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Problem Types</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li><a [routerLink]="['/admin']">Administrator's Portal</a></li>
                    <li><a href="">Problem Types</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center border-top push-inner-top-bottom">
        <a href="#modal-add-problem-type" class="btn btn-sm btn-success" data-toggle="modal"><i class="fa fa-plus"></i></a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('')">ALL</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('A')">A</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('B')">B</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('C')">C</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('D')">D</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('E')">E</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('F')">F</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('G')">G</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('H')">H</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('I')">I</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('J')">J</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('K')">K</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('L')">L</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('M')">M</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('N')">N</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('O')">O</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('P')">P</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('Q')">Q</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('R')">R</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('S')">S</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('T')">T</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('U')">U</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('V')">V</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('W')">W</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('X')">X</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('Y')">Y</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default" (click)="problemTypeSearchControl.setValue('Z')">Z</a>
    </div>
</div>
<!-- END Contacts Header -->
<div class="block full">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>Problem Types</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Problem Types -->
    <div class="row">
        <div class="animation-fadeInQuickInv col-sm-6" *ngFor="let problemType of problemTypes | filterWithStartLetter: { problem_name: problemTypeSearchControl.value };">
            <div class="col-sm-10">{{problemType.problem_name}}</div>
            <div class="col-sm-2 text-center">
                <a (click)="editProblemType(problemType)" data-toggle="modal" title="" href="#modal-add-problem-type"
                class="btn btn-effect-ripple btn-xs btn-success" style="overflow: hidden; position: relative;" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                <a data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <!-- END Problem Types -->
</div>

<div id="modal-add-problem-type" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">×</button>
                <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>{{problemTypeForm.get('id').value == null ? 'New' : 'Edit' }} Problem Type</strong></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="problemTypeForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="problem_name">Name</label>
                        <div class="col-xs-9">
                            <input formControlName="problem_name" type="text" id="problem_name"
                                   name="problem_name" class="form-control"
                                   placeholder="Problem Name">
                            <validation-messages [control]="problemTypeForm.controls.problem_name"></validation-messages>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Check if you want to allow tennats to view thsi work type?</label>
                        <label class="col-xs-7 switch switch-success"><input formControlName="tenant_view" type="checkbox" id="tenant_view" name="tenant_view" class=""> <span></span></label>
                    </div>
                    <div *ngIf="problemTypeForm.get('id').value" class="form-group">
                        <label class="col-xs-5">Active</label>
                        <label class="col-xs-7 switch switch-success">
                            <input formControlName="active" type="checkbox" id="active" name="active" class=""><span></span>
                        </label>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-success" style="overflow: hidden; position: relative;">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
