<!-- Contacts Header -->
<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Tenants</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/tenant">Tenants</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--
        FIXME: May be we will need to move this to a chile template or something similar.
        Otherwise redundant HTMLs are producing.
    -->
    <div class="text-center border-top push-inner-top-bottom">
        <ewo-alphabetical-sort [isWhiteBackground]="true" [searchControl]="searchControl" [isNumericSearch]="false"></ewo-alphabetical-sort>
    </div>
</div>
<!-- END Contacts Header -->
<div class="row">
    <!--<loading-spinner-wave *ngIf="isShowingLoadingSpinner"></loading-spinner-wave>-->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <!-- LEFT TABS WITH BUILDINGS -->
        <!--
            FIXME: Seems Something wrong with this HTML of Building list and tenant list
                    Left menu and right side page body should be in a separate div, but
                    they seems to be under same parent container.
        -->
        <div class="tabs-left clearfix">
            <ul class="nav nav-tabs nav-pills nav-stacked">
                <li *ngFor="let building of buildings; let isFirst = first" [class.active]="isFirst"><a (click)="getAllTenantsByBuilding(building.id)"
                                                          data-toggle="tab" aria-expanded="true">{{building.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <loading-spinner-wave *ngIf="isShowingLoadingSpinner"></loading-spinner-wave>
                        <div class="no-tentent-file" *ngIf="!isShowingLoadingSpinner && tenants.length == 0"><span><strong>No tenants on file!</strong></span></div>
                        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let tenant of tenants | filterWithStartLetter: { tenant_company_name: searchControl.value }">
                            <ewo-tenant-list-item [tenant]="tenant" [isAdmin]="false"></ewo-tenant-list-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

