<div id="sidebar">
  <!-- Sidebar Brand -->
  <div id="sidebar-brand" class="themed-background">
    <a href="index.html" class="sidebar-title">
      <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">easy <strong>Work Order</strong></span>
    </a>
  </div>
  <!-- END Sidebar Brand -->

  <!-- Wrapper for scrolling functionality -->
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 504px;">
    <div id="sidebar-scroll" style="overflow: hidden; width: auto; height: 504px;">
      <!-- Sidebar Content -->
      <div class="sidebar-content">
        <!-- Sidebar Navigation -->
        <ul class="sidebar-nav">
          <li>
            <a href="index.html"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
          </li>
          <li class="sidebar-separator">
            <i class="fa fa-ellipsis-h"></i>
          </li>
          <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-rocket sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Contacts</span></a>
            <ul>
              <li>
                <a href="tenants.html">Tenants</a>
              </li>
              <li>
                <a href="employees.html">Employees</a>
              </li>
              <li>
                <a href="vendors.html">Vendors</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-airplane sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Reservations</span></a>
            <ul>
              <li>
                <a href="conferencerooms.html">Conference Rooms</a>
              </li>
              <li>
                <a href="loadingdocks.html">Loading Dock</a>
              </li>
              <li>
                <a href="freightelevators.html">Freight Elevator</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="page_app_email.html"><i class="gi gi-inbox sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Messages</span></a>
          </li>
          <li>
            <a href="page_ready_tickets.html"><i class="gi gi-inbox sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Projects</span></a>
          </li>
          <li>
            <a href="page_app_email.html"><i class="gi gi-inbox sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">PM Workload</span></a>
          </li>
          <li>
            <a href="page_app_social.html"><i class="fa fa-share-alt sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Insurance</span></a>
          </li>
          <li>
            <a href="page_app_media.html"><i class="gi gi-picture sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Billing</span></a>
          </li>
          <li>
            <a href="page_app_estore.html"><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Reports</span></a>
          </li>
        </ul>
        <!-- END Sidebar Navigation -->
      </div>
      <!-- END Sidebar Content -->
    </div>
    <div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 504px;"></div>
    <div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 1; z-index: 90; right: 1px;"></div>
  </div>
  <!-- END Wrapper for scrolling functionality -->

  <!-- Sidebar Extra Info -->
  <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
    <div class="push-bit">
      <span class="pull-right">
                                <a href="javascript:void(0)" class="text-muted"><i class="fa fa-plus"></i></a>
                            </span>
      <small><strong>78 GB</strong> / 100 GB</small>
    </div>
    <div class="progress progress-mini push-bit">
      <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"
        style="width: 78%"></div>
  </div>
  <div class="text-center">

    <small><span id="year-copy">2014-17</span> © <a href="http://goo.gl/RcsdAh" target="_blank">Easyworkorder.com</a></small>
  </div>
</div>
<!-- END Sidebar Extra Info -->
</div>