<!-- Blank Header -->
<!--<div class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-section">
        <h1>Administration Portal</h1>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="header-section">
        <ul class="breadcrumb breadcrumb-top">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>-->
<!-- END Blank Header -->

<!-- BEGIN SUPPORT CHANNELS -->
<div class="block">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>Support Channels</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Get Started Content -->
    <div class="block-section">
        <div class="row">
            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="email_admin.html" class="widget text-center">
                    <div class="widget-content themed-background-info text-light text-center">
                        <i class="fa fa-3x fa-envelope push-bit"></i><br>
                        <strong>Email</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="portal_admin.html" class="widget text-center">
                    <div class="widget-content themed-background-info text-light text-center">
                        <i class="fa fa-3x fa-desktop push-bit"></i><br>
                        <strong>Portal</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="chat_admin.html" class="widget text-center">
                    <div class="widget-content themed-background-info text-light text-center">
                        <i class="fa fa-3x fa-commenting push-bit"></i><br>
                        <strong>Live Chat</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->
        </div>
    </div>
</div>
<!-- END SUPPORT CHANNELS -->

<!-- BEGIN GENERAL SETTINGS -->
<div class="block">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>General Settings</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Get Started Content -->
    <div class="block-section">
        <div class="row">
            <!-- Buildings -->
            <div class="col-sm-2">
                <a [routerLink]="['/', 'admin', 'building']" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-building push-bit"></i><br>
                        <strong>Buildings</strong>
                    </div>
                </a>
            </div>
            <!-- END Buildings -->

            <!-- Employees -->
            <div class="col-sm-2">
                <a [routerLink]="['/', 'admin', 'employee']" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-address-book push-bit"></i><br>
                        <strong>Employees</strong>
                    </div>
                </a>
            </div>
            <!-- END Employees -->

            <!-- Vendors -->
            <div class="col-sm-2">
                <a [routerLink]="['/', 'admin', 'vendor']" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-address-book push-bit"></i><br>
                        <strong>Vendors</strong>
                    </div>
                </a>
            </div>
            <!-- END Vendors -->

            <!-- Reserveable Resources -->
            <div class="col-sm-2">
                <a href="reserv_resources.html" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-calendar push-bit"></i><br>
                        <strong>Reserveable Resources</strong>
                    </div>
                </a>
            </div>
            <!-- END Reserveable Resources -->

            <!-- SLA Policies -->
            <div class="col-sm-2">
                <a [routerLink]="['/', 'admin', 'sla-policy']" class="widget">
                    <div class="widget-content themed-background-brown text-light text-center">
                        <i class="fa fa-3x fa-pencil-square-o push-bit"></i><br>
                        <strong>SLA Policies</strong>
                    </div>
                </a>
            </div>
            <!-- END SLA Policies -->

            <!-- Documents -->
            <div class="col-sm-2">
                <a href="documents.html" class="widget">
                    <div class="widget-content themed-background-brown text-light text-center">
                        <i class="fa fa-3x fa-files-o push-bit"></i><br>
                        <strong>Documents</strong>
                    </div>
                </a>
            </div>
            <!-- END Documents -->

            <!-- Problem Types -->
            <div class="col-sm-2">
                <a [routerLink]="['/', 'admin', 'problem-type']" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-sliders push-bit"></i><br>
                        <strong>Problem Types</strong>
                    </div>
                </a>
            </div>
            <!-- END Problem Types -->

            <!-- Security -->
            <div class="col-sm-2">
                <a href="security.html" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light text-center">
                        <i class="fa fa-3x fa-lock push-bit"></i><br>
                        <strong>Security</strong>
                    </div>
                </a>
            </div>
            <!-- END Security -->

            <!-- Roles -->
            <div class="col-sm-2">
                <a href="roles.html" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-users push-bit"></i><br>
                        <strong>Roles</strong>
                    </div>
                </a>
            </div>
            <!-- END Roles -->

            <!-- Departments -->
            <div class="col-sm-2">
                <a href="departments.html" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light">
                        <i class="fa fa-3x fa-sitemap push-bit"></i><br>
                        <strong>Departments</strong>
                    </div>
                </a>
            </div>
            <!-- END Departments -->

            <!-- Equip Problem Types -->
            <div class="col-sm-2">
                <a href="equip_problem_types.html" class="widget text-center">
                    <div class="widget-content themed-background-brown text-light text-center">
                        <i class="fa fa-3x fa-wrench push-bit"></i><br>
                        <strong>Equip Prob Types</strong>
                    </div>
                </a>
            </div>
            <!-- END Equip Problem Types -->

            <!-- Equipment Statuses -->
            <div class="col-sm-2">
                <a href="equip_statuses.html" class="widget">
                    <div class="widget-content themed-background-brown text-light text-center">
                        <i class="fa fa-3x fa-tasks push-bit"></i><br>
                        <strong>Equipment Statuses</strong>
                    </div>
                </a>
            </div>
            <!-- END Equipment Statuses -->
        </div>
    </div>
</div>
<!-- END GENERAL SETTINGS -->

<!-- BEGIN PRODUCTIVITY -->
<div class="block">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>Productivity</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Get Started Content -->
    <div class="block-section">
        <div class="row">
            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="ticket_templates.html" class="widget text-center">
                    <div class="widget-content themed-background-danger text-light text-center">
                        <i class="fa fa-3x fa-ticket push-bit"></i><br>
                        <strong>Ticket Templates</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="email_notify.html" class="widget text-center">
                    <div class="widget-content themed-background-danger text-light text-center">
                        <i class="fa fa-3x fa-paper-plane push-bit"></i><br>
                        <strong>Email Notifications</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="canned_responses.html" class="widget text-center">
                    <div class="widget-content themed-background-danger text-light text-center">
                        <i class="fa fa-3x fa-reply-all push-bit"></i><br>
                        <strong>Canned Responses</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="cust_satisfaction.html" class="widget text-center">
                    <div class="widget-content themed-background-danger text-light text-center">
                        <i class="fa fa-3x fa-smile-o push-bit"></i><br>
                        <strong>Customer Satisfaction</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->
        </div>
    </div>
    <!-- /row -->
</div>
<!-- END PRODUCTIVITY -->

<!-- BEGIN ADDITIONAL APPS -->
<div class="block">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>Additional Apps</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Get Started Content -->
    <div class="block-section">
        <div class="row">
            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="javascript:void(0)" class="widget text-center">
                    <div class="widget-content themed-background-purple text-light text-center">
                        <i class="fa fa-3x fa-wechat push-bit"></i><br>
                        <strong>Chat</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="javascript:void(0)" class="widget text-center">
                    <div class="widget-content themed-background-purple text-light text-center">
                        <i class="fa fa-3x fa-pencil push-bit"></i><br>
                        <strong>Blog</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->

            <div class="col-lg-2">
                <!-- Mini Widgets -->
                <a href="javascript:void(0)" class="widget text-center">
                    <div class="widget-content themed-background-purple text-light text-center">
                        <i class="fa fa-3x fa-share-alt push-bit"></i><br>
                        <strong>Projects</strong>
                    </div>
                </a>
            </div>
            <!-- END Mini Widgets -->
        </div>
    </div>
</div>
<!-- END ADDITIONAL APPS -->

<!-- BEGIN ACCOUNT -->
<div class="block">
    <!-- Get Started Title -->
    <div class="block-title">
        <h2>Account</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Get Started Content -->
    <div class="row">
        <div class="col-lg-2">
            <!-- Mini Widgets -->
            <a href="javascript:void(0)" class="widget text-center">
                <div class="widget-content themed-background-green text-light text-center">
                    <i class="fa fa-3x fa-gears push-bit"></i><br>
                    <strong>Account</strong>
                </div>
            </a>
        </div>
        <!-- END Mini Widgets -->

        <div class="col-lg-2">
            <!-- Mini Widgets -->
            <a href="javascript:void(0)" class="widget text-center">
                <div class="widget-content themed-background-green text-light text-center">
                    <i class="fa fa-3x fa-money push-bit"></i><br>
                    <strong>Plans &amp; Billing</strong>
                </div>
            </a>
        </div>
        <!-- END Mini Widgets -->
    </div>
</div>
<!-- END ACCOUNT -->

