<!-- Contacts Header -->
<div class="content-header">
    <div class="text-center border-top push-inner-top-bottom">
        <a href="#modal-add-employee" class="btn btn-sm btn-success" data-toggle="modal"><i class="fa fa-plus"></i></a>
        <ewo-alphabetical-sort [isWhiteBackground]="false" [searchControl]="searchControl" [isNumericSearch]="true"></ewo-alphabetical-sort>
    </div>
</div>
<!-- END Contacts Header -->

<div class="row">
    <div class="col-sm-3" *ngFor="let employee of employees | filterWithStartLetter: { first_name: searchControl.value }">
        <a class="widget widget-cursor-default">
            <div class="widget-content text-center">
                <div class="col-sm-2 text-center" style="position: absolute; right: 0;">
                    <a (click)="editEmployee(employee)" data-toggle="modal" title="" href="#modal-add-employee" class="btn btn-effect-ripple btn-xs btn-success"
                        style="overflow: hidden; position: relative;" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                    <!--<a data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>-->
                </div>
                <!--<img src="assets/img/placeholders/avatars/avatar9.jpg" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar">-->
                <img [src]="employee.photo" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar">
                <h2 class="widget-heading h3 text-muted">{{employee.last_name}} {{employee.first_name}}</h2>
            </div>

            <div class="widget-content themed-background-muted text-dark text-center">
                <address class="m-t-md">
                    <strong>{{employee.title}}</strong><br/>
                    <abbr title="Phone">P:</abbr> {{employee.work_phone}}
                </address>
            </div>
            <div class="widget-content">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <h3 class="widget-heading">
                            <a href="tel:{{employee.work_phone}}"><i class="gi gi-earphone text-info"></i></a> <br>
                            <small><a href="tel:{{employee.work_phone}}">Call</a></small>
                        </h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="widget-heading">
                            <a href="mailto:{{employee.email}}"><i class="gi gi-envelope text-danger"></i></a> <br>
                            <small><a href="mailto:{{employee.email}}">Email</a></small>
                        </h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


<div id="modal-add-employee" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">×</button>
                <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>{{employeeForm.get('id').value == null ? 'New' : 'Edit' }} Employee</strong></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeForm" (ngSubmit)="employeeForm.valid && onSubmit()" class="form-horizontal form-bordered" novalidate>
                    <div *ngIf="tabs.isEmployeeTabVisible" id="clickable-first" class="step">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li class="active"><a (click)="switchTab(1)"><i class="fa fa-user"></i> <strong>Employee</strong></a></li>
                                    <li><a (click)="switchTab(2)"><i class="fa fa-pencil-square-o"></i><strong>Building</strong></a></li>
                                    <li><a (click)="switchTab(3)"><i class="fa fa-check"></i> <strong>Problem Types</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label text-muted">NO AVATAR</label>
                            <div class="col-xs-9">
                                <!--<input formControlName="photo" type="file" name="photo" id="photo" (change)="photoSelectionChange($event)" />-->
                                <input id="photo" name="photo" type="file" (change)="photoSelectionChange($event)" class="hidden" />
                                <i class="fa fa-fw fa-upload"></i> <a href="javascript:void(0)" onclick="$('#photo').click();">Upload New Avatar</a>
                                <span id="selected_photo">{{ selectedPhoto }}</span>
                                <br />
                                <i class="fa fa-fw fa-picture-o"></i> <a href="javascript:void(0)">Choose from Library</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="first_name">First Name <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="employeeForm.controls.first_name" formControlName="first_name" type="text" id="first_name"
                                    name="first_name" class="form-control" placeholder="First Name">
                                <span class="validation-error">{{employeeForm.controls.first_name.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="last_name">Last Name <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="employeeForm.controls.last_name" formControlName="last_name" type="text" id="last_name" name="last_name"
                                    class="form-control" placeholder="Last Name">
                                <span class="validation-error">{{employeeForm.controls.last_name.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="title">Title <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="employeeForm.controls.title" formControlName="title" type="text" id="title" name="title" class="form-control"
                                    placeholder="Title">
                                <span class="validation-error">{{employeeForm.controls.title.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="work_phone">Work Phone <span class="required">*</span></label>
                            <div class="col-xs-5">
                                <input [formControlValidator]="employeeForm.controls.work_phone" formControlName="work_phone" type="text" id="work_phone"
                                    name="work_phone" class="form-control" placeholder="Work Phone">
                                <span class="validation-error">{{employeeForm.controls.work_phone.error}}</span>
                            </div>

                            <label class="col-xs-2 control-label" for="work_phone_ext">Extention</label>
                            <div class="col-xs-2">
                                <input formControlName="work_phone_ext" type="text" id="work_phone_ext" name="work_phone_ext" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="fax">Fax</label>
                            <div class="col-xs-9">
                                <input formControlName="fax" type="text" id="fax" name="fax" class="form-control" placeholder="Fax">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="mobile_phone">Mobile Phone</label>
                            <div class="col-xs-9">
                                <input formControlName="mobile_phone" type="text" id="mobile_phone" name="mobile_phone" class="form-control" placeholder="Mobile Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="pager">Pager</label>
                            <div class="col-xs-9">
                                <input formControlName="pager" type="text" id="pager" name="pager" class="form-control" placeholder="Pager">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="emergency_phone">Emergency Phone</label>
                            <div class="col-xs-9">
                                <input formControlName="emergency_phone" type="text" id="emergency_phone" name="emergency_phone" class="form-control" placeholder="Emergency Phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="email">Email <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="employeeForm.controls.email" formControlName="email" type="text" id="email" name="email" class="form-control"
                                    placeholder="Email">
                                <span class="validation-error">{{employeeForm.controls.email.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="wireless_email">Wireless Email</label>
                            <div class="col-xs-9">
                                <input formControlName="wireless_email" type="text" id="wireless_email" name="wireless_email" class="form-control" placeholder="Wireless Email">
                                <span *ngIf="!employeeForm.get('wireless_email').pristine && employeeForm.get('wireless_email').dirty && employeeForm.get('wireless_email').hasError('invalidEmailAddress')"
                                    class="validation-error">This is an invalid email address</span>
                                <div class="small">(Enter your 10 digit mobile number, ex: 9991234567@vtext.com)</div>
                                <div class="small bg-info offset1">
                                    Some common carriers are:<br/> AT&T: @mobile.att.com<br/> Cingular: @mycingular.textmsg.com<br/>                                    Metro PCS: @mymetropcs.com<br/> Nextel: @messaging.nextel.com<br/> Sprint: @messaging.sprintpcs.com<br/>                                    T-Mobile: @tomail.com<br/> Verizon: @vtext.com<br/> The above carriers may have different
                                    SMS (short message service) settings than are listed. Please check with the specific
                                    carrier to insure accuracy.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="employeeForm.get('id').value" class="form-group">
                            <div class="col-xs-3 control-label">Active</div>
                            <label class="col-xs-9 switch switch-success">
                            <input formControlName="active" type="checkbox" id="active" name="active" class=""><span></span></label>
                            <!--<label class="col-xs-7 switch switch-success">
                                <input formControlName="active" type="checkbox" id="active" name="active" class=""><span></span>
                            </label>-->
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="notes">Notes</label>
                            <div class="col-xs-9">
                                <textarea formControlName="notes" id="notes" name="notes" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tabs.isBuildingTabVisible" id="clickable-second" class="step">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li><a (click)="switchTab(1)"><i class="fa fa-user"></i>
                                        <del><strong>Employee</strong></del>
                                    </a></li>
                                    <li class="active"><a (click)="switchTab(2)"><i class="fa fa-pencil-square-o"></i>
                                        <strong>Building</strong></a></li>
                                    <li><a (click)="switchTab(3)"><i class="fa fa-check"></i> <strong>Problem
                                        Type</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="pager">Buildings <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <ng-select [multiple]="true" [items]="buildings" (selected)="selectedBuilding($event)" (removed)="removedBuilding($event)"
                                    placeholder="Select buildings" [active]="selectedBuildings"></ng-select>
                                <span *ngIf="selectedBuildings.length == 0" class="validation-error">This field is Required</span>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <span>{{itemsToString(value)}}</span>
                        </div>-->
                    </div>
                    <!-- Third Step -->
                    <div *ngIf="tabs.isProblemTypeTabVisible" id="clickable-third" class="step">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li><a (click)="switchTab(1)"><i class="fa fa-user"></i>
                                        <del><strong>Employee</strong></del>
                                    </a></li>
                                    <li><a (click)="switchTab(2)"><i class="fa fa-pencil-square-o"></i>
                                        <del><strong>Building</strong></del>
                                    </a></li>
                                    <li class="active"><a (click)="switchTab(3)"><i class="fa fa-check"></i> <strong>Problem Type</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="pager">Problem Types <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <ng-select [multiple]="true" [items]="problemTypes" (selected)="selectedProblemType($event)" (removed)="removedProblemType($event)"
                                    placeholder="Select Problem types" [active]="selectedProblemTypes"></ng-select>
                                <span *ngIf="selectedProblemTypes.length == 0" class="validation-error">This field is Required</span>
                            </div>
                        </div>
                        <!-- END Step Info -->
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-success">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>