<!-- START CONTACTS ALPHABET FILTER -->
<div class="text-center border-top push-inner-top-bottom">
    <a href="#modal-add-tenant" class="btn btn-sm btn-success" data-toggle="modal" style="overflow: hidden; position: relative;"><i class="fa fa-plus"></i></a>
    <a href="#" class="btn btn-sm btn-muted">A</a>
    <a href="#" class="btn btn-sm btn-muted">B</a>
    <a href="#" class="btn btn-sm btn-muted">C</a>
    <a href="#" class="btn btn-sm btn-muted">D</a>
    <a href="#" class="btn btn-sm btn-muted">E</a>
    <a href="#" class="btn btn-sm btn-muted">F</a>
    <a href="#" class="btn btn-sm btn-muted">G</a>
    <a href="#" class="btn btn-sm btn-muted">H</a>
    <a href="#" class="btn btn-sm btn-muted">I</a>
    <a href="#" class="btn btn-sm btn-muted">J</a>
    <a href="#" class="btn btn-sm btn-muted">K</a>
    <a href="#" class="btn btn-sm btn-muted">L</a>
    <a href="#" class="btn btn-sm btn-muted">M</a>
    <a href="#" class="btn btn-sm btn-muted">N</a>
    <a href="#" class="btn btn-sm btn-muted">O</a>
    <a href="#" class="btn btn-sm btn-muted">P</a>
    <a href="#" class="btn btn-sm btn-muted">Q</a>
    <a href="#" class="btn btn-sm btn-muted">R</a>
    <a href="#" class="btn btn-sm btn-muted">S</a>
    <a href="#" class="btn btn-sm btn-muted">T</a>
    <a href="#" class="btn btn-sm btn-muted">V</a>
    <a href="#" class="btn btn-sm btn-muted">U</a>
    <a href="#" class="btn btn-sm btn-muted">W</a>
    <a href="#" class="btn btn-sm btn-muted">X</a>
    <a href="#" class="btn btn-sm btn-muted">Y</a>
    <a href="#" class="btn btn-sm btn-muted">Z</a>
</div>
<!-- END CONTACTS ALPHABET FILTER -->
<div *ngFor="let tenant of tenants" class="col-sm-6 col-md-4 col-lg-3">
    <!--<a [routerLink]="['/contact-profile', tenant.contact_id ]" class="widget">-->
    <a class="widget">
        <div class="widget-content text-center">
            <img [src]="getPhotoUrl(tenant)" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar">
            <h2 class="widget-heading h3 text-muted">{{ buildName(tenant.first_name, tenant.last_name)}}</h2>
        </div>
        <div class="widget-content themed-background-muted text-dark text-center">
            <address class="m-t-md">
                <strong>{{tenant.tenant_company_name}}</strong><br *ngIf="tenant.unitNo"> {{tenant.unitNo}}<br *ngIf="tenant.title">{{tenant.title}}<br>
                <abbr title="Phone">P:</abbr> <span *ngIf="tenant.extension">({{tenant.extension}}) &nbsp;</span> {{tenant.phone}}
            </address>
        </div>
        <div class="widget-content">
            <div class="row text-center">
                <div class="col-xs-6">
                    <a href="tel:{{tenant.phone}}" (click)="stopPropagation($event)">
                        <h3 class="widget-heading"><i class="gi gi-earphone text-info"></i> <br>
                            <small>Call</small></h3>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="mailto:{{ tenant.email }}" (click)="stopPropagation($event)">
                        <h3 class="widget-heading"><i class="gi gi-envelope text-danger"></i> <br>
                            <small>Email</small></h3>
                    </a>
                </div>
            </div>
        </div>
    </a>
</div>

<!-- Add Tenant Modal -->
<div id="modal-add-tenant" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>New Tenant</strong></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()" id="clickable-wizard" class="form-horizontal form-bordered" novalidate>
                    <!--<input formControlName="building_id" type="hidden" value="{{currentBuildingId}}">-->
                    <div *ngIf="tabs.isBasicTabVisible" id="clickable-first" class="step ui-formwizard-content" style="display: block;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li class="active"><a (click)="switchTab(1)" data-gotostep="clickable-first"><i
                                        class="fa fa-user"></i> <strong>Basic</strong></a></li>
                                    <li><a (click)="switchTab(2)" data-gotostep="clickable-second"><i
                                        class="fa fa-pencil-square-o"></i> <strong>Contact</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label" for="tenant_company_name">Company Name <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input #tcn formControlName="tenant_company_name" type="text" id="tenant_company_name" name="tenant_company_name" class="form-control"
                                    placeholder="Tenant's Company Name">
                                <!-- Validation Way 1 -->
                                <validation-messages [el]="tcn" [control]="tenantForm.controls.tenant_company_name"></validation-messages>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="mgtfeepercent">Management Fee <span class="required">*</span></label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="tenantForm.controls.mgtfeepercent" formControlName="mgtfeepercent" type="text" id="mgtfeepercent"
                                    name="mgtfeepercent" class="form-control col-xs-3" placeholder="Management Fee Percent" size="20">
                                <div class="input-group-addon">(%)</div>
                                <!-- Validation Way 2 -->
                                <span class="validation-error">{{tenantForm.controls.mgtfeepercent.error}}</span>

                            </div>
                            <!--<div class="col-xs-1">%</div>-->
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="unitno">Unit Number</label>
                            <div class="col-xs-9">
                                <input [formControlValidator]="tenantForm.controls.unitno" formControlName="unitno" type="text" id="unitno" name="unitno"
                                    class="form-control" placeholder="Unit Number">
                                <span class="validation-error">{{tenantForm.controls.unitno.error}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inscertdate">Ins Cert exp date</label>
                            <div class="col-xs-9">
                                <input formControlName="inscertdate" type="text" id="inscertdate" name="inscertdate" class="form-control" placeholder="Ins Cert exp date">
                            </div>
                        </div>

                    </div>

                    <div *ngIf="tabs.isContactTabVisible" id="clickable-second" class="step ui-formwizard-content" style="display: block;">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li><a (click)="switchTab(1)" class="text-muted" data-gotostep="clickable-first"><i
                                        class="fa fa-user"></i>
                                        <del><strong>Basic</strong></del>
                                    </a></li>
                                    <li class="active"><a (click)="switchTab(2)" data-gotostep="clickable-second"><i
                                        class="fa fa-pencil-square-o"></i> <strong>Contact</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Step Info -->
                        <div *ngFor="let contact of tenantForm.get('tenant_contacts').controls; let i=index" [formGroup]="contact">
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="fname">First Name <span class="required">*</span></label>
                                <div class="col-xs-9">
                                    <input [formControlValidator]="contact.controls.first_name" formControlName="first_name" type="text" id="fname" class="form-control"
                                        placeholder="First Name">
                                    <span class="validation-error">{{contact.controls.first_name.error}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="lname">Last Name <span class="required">*</span></label>
                                <div class="col-xs-9">
                                    <input [formControlValidator]="contact.controls.last_name" formControlName="last_name" type="text" id="lname" class="form-control"
                                        placeholder="Last Name" />
                                    <span class="validation-error">{{contact.controls.last_name.error}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="photo">Photo</label>
                                <div class="col-xs-9">
                                    <input type="file" id="photo" name="photo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="title">Title</label>
                                <div class="col-xs-9">
                                    <input formControlName="title" type="text" id="title" class="form-control" placeholder="Title" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="email">Email</label>
                                <div class="col-xs-9">
                                    <input formControlName="email" type="text" for="email" class="form-control" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="phone">Phone</label>
                                <div class="col-xs-3">
                                    <input formControlName="phone" type="text" id="phone" class="form-control" placeholder="(000) 000-0000" />
                                </div>
                                <label class="col-xs-3 control-label" for="phone_extension">Extention</label>
                                <div class="col-xs-3">
                                    <input formControlName="extension" id="phone_extension" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="fax">Fax</label>
                                <div class="col-xs-9">
                                    <input formControlName="fax" type="text" id="fax" name="fax" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="mobile">Mobile Phone</label>
                                <div class="col-xs-9">
                                    <input formControlName="mobile" type="text" id="mobile" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="emergencyphone">Emergency Phone</label>
                                <div class="col-xs-9">
                                    <input formControlName="emergency_phone" type="text" id="emergencyphone" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="viewinvoices">View Invoices</label>
                                <div class="col-xs-9">
                                    <span *ngFor="let option of viewInvoicesList">
                                        <label>
                                        <input formControlName="viewinvoices" type="radio" name="viewinvoices" [value]="option.value">
                                        {{option.display}}
                                        </label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="notes">Notes</label>
                                <div class="col-xs-9">
                                    <textarea formControlName="notes" id="notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="reset" class="btn btn-effect-ripple btn-danger ui-wizard-content ui-formwizard-button" id="back1" style="overflow: hidden; position: relative;"
                                value="Back"> Back
                            </button>
                            <button type="submit" class="btn btn-effect-ripple btn-primary ui-wizard-content ui-formwizard-button" id="next1" style="overflow: hidden; position: relative;"
                                value="Next">Next
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END Add Contact Modal -->