<!-- Contact Profile Row -->
<div class="row">
  <div class="col-md-5 col-lg-4">
    <ewo-contact-profile-card [isAdmin]="true" [contactInfo]="contactInfo" [tenant]="tenant" (update)="updateProfile($event)"></ewo-contact-profile-card>
  </div>
  <div class="col-md-7 col-lg-8">
    <loading-spinner-wave *ngIf="!tenant"></loading-spinner-wave>
    <ewo-tenant-contact-activities *ngIf="tenant" [tenant]="tenant" [insurances]="insurances" [files]="files" [isAdmin]="true"
      (update)="updateInActivity($event)"></ewo-tenant-contact-activities>
  </div>
</div>
<!-- END Contact Profile Row -->