<!--Modal popup to add file-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
            <!--<h3 *ngIf="!tenantDocumentForm.get('id').value" class="modal-title"><i class="fa fa-plus"></i> <strong>New Document</strong></h3>
            <h3 *ngIf="tenantDocumentForm.get('id').value" class="modal-title"><i class="fa fa-pencil"></i> <strong>Edit Document</strong></h3>-->
        </div>
        <div class="hidden" title="Building Info from Old FORM">
            Test Buiding 1
            CA-1001 
            Los Angeless, CA 1230
            Test Tanent Company 1 
            Unit: 1001
            INSTRUCTIONS
            Click 'Browse' to select a file.

            You can attach file types: .pdf, .xls, .doc, with a file size limited to 1.5mb.
        </div>
        <div class="modal-body">
            <!--<form [formGroup]="tenantDocumentForm" (ngSubmit)="onSubmit()" id="clickable-wizard" class="form-horizontal form-bordered" novalidate>-->
            <form [formGroup]="tenantDocumentForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-xs-3 control-label">Document <span class="required">*</span></label>
                    <div class="col-xs-9">
                        <input type="file" id="document_file" name="document_file" (change)="docSelectionChange($event)" class="hidden" accept=".doc, .docx, .pdf"/>
                        <i class="fa fa-fw fa-upload"></i> <a href="javascript:void(0)" onclick="$('#document_file').click();">Upload New Dcoument</a>
                        <span>{{ selectedFileName }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="per_occur">Title <span class="required">*</span></label>
                    <div class="col-xs-9">
                        <input [formControlValidator]="tenantDocumentForm.controls.title" formControlName="title" type="text" id="title" class="form-control"
                               placeholder="Title" />
                        <!--<span class="validation-error">{{tenantDocumentForm.controls.per_occur.error}}</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label" for="aggregate">Description <span class="required">*</span></label>
                    <div class="col-xs-9">
                        <textarea [formControlValidator]="tenantDocumentForm.controls.description" formControlName="description" id="description" class="form-control"
                               placeholder="Description"></textarea>
                        <!--<span class="validation-error">{{tenantDocumentForm.controls.aggregate.error}}</span>-->
                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-effect-ripple btn-primary ui-wizard-content ui-formwizard-button" id="btnSave" style="overflow: hidden; position: relative;"
                            value="Save" [disabled]="isSubmit">Save <i *ngIf="isSubmit" class="fa fa-spinner fa-spin"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>