<!--<div id="modal-add-tenant" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
      <h3 *ngIf="!tenantContactPeopleForm.get('id').value" class="modal-title"><i class="fa fa-plus"></i> <strong>New Contact</strong></h3>
      <h3 *ngIf="tenantContactPeopleForm.get('id').value" class="modal-title"><i class="fa fa-pencil"></i> <strong>Edit Contact</strong></h3>
    </div>
    <div class="modal-body">
      <form [formGroup]="tenantContactPeopleForm" (ngSubmit)="onSubmit()" id="clickable-wizard" class="form-horizontal form-bordered"
        novalidate>
        <div class="form-group">
          <label class="col-xs-3 control-label text-muted">NO AVATAR</label>
          <div class="col-xs-9">
            <input type="file" id="contact_photo" name="contact_photo" (change)="photoSelectionChange($event)" class="hidden"  />
            <i class="fa fa-fw fa-upload"></i> <a href="javascript:void(0)" onclick="$('#contact_photo').click();">Upload New Avatar</a>
            <span>{{ selectedPhotoFile }}</span>
            <br/>
            <i class="fa fa-fw fa-picture-o"></i> <a href="javascript:void(0)">Choose from Library</a>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="fname">First Name <span class="required">*</span></label>
          <div class="col-xs-9">
            <input [formControlValidator]="tenantContactPeopleForm.controls.first_name" formControlName="first_name" type="text" id="fname"
              class="form-control" placeholder="First Name">
            <span class="validation-error">{{tenantContactPeopleForm.controls.first_name.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="lname">Last Name <span class="required">*</span></label>
          <div class="col-xs-9">
            <input [formControlValidator]="tenantContactPeopleForm.controls.last_name" formControlName="last_name" type="text" id="lname"
              class="form-control" placeholder="Last Name" />
            <span class="validation-error">{{tenantContactPeopleForm.controls.last_name.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="title">Title</label>
          <div class="col-xs-9">
            <input formControlName="title" type="text" id="title" class="form-control" placeholder="Title" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="email">Email <span class="required">*</span></label>
          <div class="col-xs-9">
            <input [formControlValidator]="tenantContactPeopleForm.controls.email" formControlName="email" id="email" type="text" for="email" class="form-control"
              placeholder="Email" />
            <span class="validation-error">{{tenantContactPeopleForm.controls.email.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="phone">Phone</label>
          <div class="col-xs-3">
            <input phoneNumber formControlName="phone" type="text" id="phone" class="form-control" placeholder="Phone" />
          </div>
          <label class="col-xs-3 control-label" for="phone_extension">Extention</label>
          <div class="col-xs-3">
            <input onlyNumber formControlName="extension" id="phone_extension" type="text" class="form-control" placeholder="Extention"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="fax">Fax</label>
          <div class="col-xs-9">
            <input phoneNumber formControlName="fax" type="text" id="fax" name="fax" class="form-control" placeholder="Fax">
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="mobile">Mobile Phone</label>
          <div class="col-xs-9">
            <input phoneNumber formControlName="mobile" type="text" id="mobile" class="form-control" placeholder="Mobile Phone"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="emergencyphone">Emergency Phone</label>
          <div class="col-xs-9">
            <input phoneNumber formControlName="emergency_phone" type="text" id="emergencyphone" class="form-control" placeholder="Emergency Phone"/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label view-invoice-label-text" for="viewinvoices">View Invoices</label>
          <label class="col-xs-9 switch switch-success">
            <input formControlName="viewinvoices" type="checkbox" id="viewinvoices" name="viewinvoices" class=""><span></span>
          </label>
        </div>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="notes">Notes</label>
          <div class="col-xs-9">
            <textarea formControlName="notes" id="notes" class="form-control" placeholder="Notes"></textarea>
          </div>
        </div>
        <div *ngIf="tenantContactPeopleForm.get('id').value" class="form-group">
          <div class="col-xs-3 control-label">Active</div>
          <label class="col-xs-9 switch switch-success">
            <input formControlName="active" type="checkbox" id="active" name="active" class=""><span></span></label>
        </div>

        <div class="form-group form-actions">
          <div class="col-md-8 col-md-offset-4">
            <!--<button type="reset" class="btn btn-effect-ripple btn-danger ui-wizard-content ui-formwizard-button" id="back1" style="overflow: hidden; position: relative;"
                                value="Back"> Back
                            </button>-->
            <!--<button type="submit" class="btn btn-effect-ripple btn-primary ui-wizard-content ui-formwizard-button" id="next1" style="overflow: hidden; position: relative;"
                                value="Next">Next
                            </button>-->
            <button type="submit" class="btn btn-effect-ripple btn-primary ui-wizard-content ui-formwizard-button" id="btnSave" style="overflow: hidden; position: relative;"
              value="Save">Save
             </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>