<!--ul>
     <li *ngFor="let file of fileList"><a href="{{file.doc_url}}" title="{{file.title}}">{{file.title}}</a></li>
</ul-->

<div class="tab-pane active" id="bldg1-files">
    <div class="row media-filter-items" style="margin: 0 -10px;">
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let file of fileList">
            <div class="media-items animation-fadeInQuick2" data-category="pdf" *ngIf="file.mimetype == 'application/pdf'">
                <div class="media-items-options text-right">
                    <a modal-dialog-open="{{modal_popup_name}}" (click)="_submitted = false;editFile(file)" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-pdf-o fa-5x text-muted"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize | fileSize}}</small>
                </h4>
            </div>
            <div class="media-items animation-fadeInQuick2" data-category="image" *ngIf="file.mimetype == 'image/png' || file.mimetype == 'image/jpg' || file.mimetype == 'image/jpeg' || file.mimetype == 'image/gif' ">
                <div class="media-items-options text-right">
                    <a href="{{file.doc_url}}" class="btn btn-xs btn-info" data-toggle="lightbox-image">View</a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-picture-o fa-5x text-success"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize | fileSize}}</small>
                </h4>
            </div>
            <div class="media-items animation-fadeInQuick2" data-category="word" *ngIf="file.mimetype == 'application/msword' || file.mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ">
                <div class="media-items-options text-right">
                    <a href="javascript:void(0)" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-word-o fa-5x text-danger"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize | fileSize}}</small>
                </h4>
            </div>
        </div>
    </div>
</div>


<!--<ul>
    <li *ngFor="let file of fileList"><a href="{{file.doc_url}}" title="{{file.title}}">{{file.title}}</a> {{file.docsize | fileSize}}</li>
</ul>-->