<div [ngClass]="{'block': (parent_object_type == 'building' || parent_object_type == 'ticket')}">
    <div class="block-title" *ngIf="parent_object_type == 'ticket' || parent_object_type == 'building'">
        <h2>FILES</h2>
        <a modal-dialog-open="add-file"
           class="btn btn-effect-ripple btn-default pull-right"
           data-toggle="modal"
           title="" style="overflow: hidden; position: relative;" data-original-title="Add File">
            <i class="fa fa-upload"></i></a>
    </div>
    <div class="row media-filter-items" style="margin: 0 -10px;">
        <div class="col-xs-12" *ngIf="files.length == 0">No files uploaded.</div>
        <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let file of files">
            <div class="media-items animation-fadeInQuick2" data-category="pdf" *ngIf="file.mimetype == 'application/pdf'">
                <div class="media-items-options text-right">
                    <a modal-dialog-open="add-file" (click)="_submitted = false;editFile(file)" class="btn btn-xs btn-success" data-original-title="Edit File"><i class="fa fa-pencil"></i></a>
                    <a modal-dialog-open="modal-delete-confirm" (click)="deleteFile(file)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger"
                       style="overflow: hidden; position: relative;" data-original-title="Delete File"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-pdf-o fa-5x text-muted"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize}}</small>
                </h4>
            </div>
            <div class="media-items animation-fadeInQuick2" data-category="image" *ngIf="file.mimetype == 'image/png' || file.mimetype == 'image/jpg' || file.mimetype == 'image/jpeg' || file.mimetype == 'image/gif' ">
                <div class="media-items-options text-right">
                    <a href="{{file.doc_url}}" class="btn btn-xs btn-info" data-toggle="lightbox-image">View</a>
                    <a modal-dialog-open="add-file" (click)="_submitted = false;editFile(file)" class="btn btn-xs btn-success" data-original-title="Edit File"><i class="fa fa-pencil"></i></a>
                    <a modal-dialog-open="modal-delete-confirm" (click)="deleteFile(file)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger"
                       style="overflow: hidden; position: relative;" data-original-title="Delete File"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-picture-o fa-5x text-success"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize}}</small>
                </h4>
            </div>
            <div class="media-items animation-fadeInQuick2" data-category="word" *ngIf="file.mimetype == 'application/msword' || file.mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' ">
                <div class="media-items-options text-right">
                    <a modal-dialog-open="add-file" (click)="_submitted = false;editFile(file)" class="btn btn-xs btn-success" data-original-title="Edit File"><i class="fa fa-pencil"></i></a>
                    <a modal-dialog-open="modal-delete-confirm" (click)="deleteFile(file)" data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger"
                       style="overflow: hidden; position: relative;" data-original-title="Delete File"><i class="fa fa-times"></i></a>
                </div>
                <div class="media-items-content">
                    <i class="fa fa-file-word-o fa-5x text-danger"></i>
                </div>
                <h4>
                    <strong>{{file.title}}</strong><br>
                    <small>{{file.docsize}} kb</small>
                </h4>
            </div>
        </div>

    </div>
</div>

<!--Modal popup to add file-->
<div id="add-file" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>
                <h3 *ngIf="!fileForm.get('id').value" class="modal-title"><i class="fa fa-plus"></i> <strong>New File</strong></h3>
                <h3 *ngIf="fileForm.get('id').value" class="modal-title"><i class="fa fa-pencil"></i> <strong>Edit File</strong></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="fileForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Document <span class="required">*</span></label>
                        <div class="col-xs-9">
                            <input type="file" id="document_file" name="document_file" (change)="docSelectionChange($event)" class="hidden" accept=".doc, .docx, .pdf, .xls, .xlsx, .jpg, .jpeg, .png, .gif"/>
                            <i class="fa fa-fw fa-upload"></i> <a href="javascript:void(0)" onclick="$('#document_file').click();">Upload New Dcoument</a>
                            <span>{{ selectedFileName }}</span>
                            <br/>
                            <span *ngIf="_submitted && (selectedFileName === '')" class="validation-error">Please select a file to upload</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="title">Title <span class="required">*</span></label>
                        <div class="col-xs-9">
                            <input [formControlValidator]="fileForm.controls.title" formControlName="title" type="text" id="title" class="form-control"
                                   placeholder="Title" />
                            <span class="validation-error">{{fileForm.controls.title.error}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="description">Description <span class="required">*</span></label>
                        <div class="col-xs-9">
                            <textarea [formControlValidator]="fileForm.controls.description" formControlName="description" id="description" class="form-control"
                                   placeholder="Description"></textarea>
                            <span class="validation-error">{{fileForm.controls.description.error}}</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="parent_object_type == 'ticket'">
                        <label class="col-xs-3">Tenant View</label>
                        <div class="col-xs-9">
                            <label class="switch switch-success">
                                <input type="checkbox" formControlName="tenant_view" id="tenant_view"
                                       name="tenant_view"><span></span></label>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-primary ui-wizard-content ui-formwizard-button" id="btnSave" style="overflow: hidden; position: relative;"
                                value="Save" [disabled]="isSubmit">Save <i *ngIf="isSubmit" class="fa fa-spinner fa-spin"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ewo-confirm-modal id="modal-delete-confirm" [OkButton]="true" [okButtonLabel]="'Continue'" (okButtonClick)="onModalOkButtonClick($event)"
                   [cancelButtonLabel]="'Cancel'" [message]="'Are you sure want to delete?'" class="modal fade in" tabindex="-1" role="dialog"
                   aria-hidden="true">
</ewo-confirm-modal>