<div class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-section">
        <h1>{{ routingTitle }}</h1>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="header-section">
        <!--<ul class="breadcrumb breadcrumb-top">
          <li><a href="admin-setup.html">Administrator Portal</a></li>
          <li><a href="building_admin2.html">Buildings</a></li>
          <li>Building Admin</li>
        </ul>-->
        <ewo-breadcrumb></ewo-breadcrumb>
      </div>
    </div>
  </div>
</div>
