<div id="page-content" class="inner-sidebar-left message-center" style="min-height: 735px;">
  <!-- Inner Sidebar -->
  <div id="page-content-sidebar">
    <!-- Compose Message (Modal markup is at the bottom of this page before including JS scripts) -->
    <div class="block-section">
      <a modal-dialog-open="modal-compose" class="btn btn-effect-ripple btn-block btn-success" data-toggle="modal" style="overflow: hidden; position: relative;"><i class="fa fa-pencil"></i> Compose </a>
    </div>
    <!-- END Compose Message -->

    <!-- Collapsible Navigation -->
    <a href="javascript:void(0)" class="btn btn-block btn-effect-ripple btn-default visible-xs" data-toggle="collapse" data-target="#email-nav"
      style="overflow: hidden; position: relative;">Navigation</a>
    <div id="email-nav" class="collapse navbar-collapse remove-padding">
      <!-- Menu -->
      <div class="block-section">
        <ul class="nav nav-pills nav-stacked">
          <!-- <li class="active">
                                            <a href="page_app_email.html">
                                                <i class="fa fa-fw fa-inbox icon-push"></i> <strong>Inbox</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-star icon-push"></i> <strong>Starred</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-exclamation-circle icon-push"></i> <strong>Important</strong>
                                            </a>
                                        </li> -->
          <li [class.active]="activeSent" (click)="setActiveItem('sent')">
            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-send icon-push"></i> <strong>Sent</strong>
                                            </a>
          </li>
          <li [class.active]="activeDraft" (click)="setActiveItem('draft')">
            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-pencil-square-o icon-push"></i> <strong>Draft</strong>
                                            </a>
          </li>
          <!-- <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-folder icon-push"></i> <strong>Archive</strong>
                                            </a>
                                        </li> -->
          <li [class.active]="activeTrash" (click)="setActiveItem('trash')">
            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-trash-o icon-push"></i> <strong>Trash</strong>
                                            </a>
          </li>
        </ul>
      </div>
      <!-- END Menu -->

      <!-- Labels -->
      <!-- <div class="block-section">
                                    <h4 class="inner-sidebar-header">
                                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-xs btn-default pull-right"><i class="fa fa-plus"></i></a>
                                        Labels
                                    </h4>
                                    <ul class="nav nav-pills nav-stacked nav-icons">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-circle icon-push text-info"></i> <strong>Later</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-circle icon-push text-warning"></i> <strong>Family</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-circle icon-push text-danger"></i> <strong>Projects</strong>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="fa fa-fw fa-circle icon-push text-success"></i> <strong>Work</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div> -->
      <!-- END Labels -->
    </div>
    <!-- END Collapsible Navigation -->
  </div>
  <!-- END Inner Sidebar -->

  <!-- Email Center Content -->
  <div class="block overflow-hidden">
    <!-- Message List -->
    <!--<ewo-message-list [status]="status"></ewo-message-list>-->
    <!-- END Message List -->
    <router-outlet></router-outlet>
    <!-- Message View -->

    <!-- END Message View -->
  </div>
  <!-- END Email Center Content -->
</div>


<ewo-compose-message id="modal-compose" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
</ewo-compose-message>