<!--<a *ngIf="isAdmin" [routerLink]="['tenant-profile', tenant.contact_id]" class="widget list-block-item tenant">
<a *ngIf="isAdmin==false" [routerLink]="['/tenant-profile', tenant.contact_id ]" class="widget list-block-item tenant">-->
<a (click)="tenantDetailsLink(tenant)" class="widget list-block-item tenant">
    <div class="widget-content text-center">
        <img [src]="getPhotoUrl(tenant)" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar">
        <h2 class="widget-heading h3 text-muted">{{ tenant.tenant_company_name }}</h2>
    </div>
    <div class="widget-content themed-background-muted text-dark text-center">
        <address class="m-t-md" [innerHTML]="buildAddressHtml(tenant)"></address>
    </div>
    <div class="widget-content">
        <div class="row text-center">
            <div class="col-xs-6">
                <a href="tel:{{tenant.phone}}" (click)="stopPropagation($event)">
                    <h3 class="widget-heading"><i class="gi gi-earphone text-info"></i> <br>
                        <small>Call</small></h3>
                </a>
            </div>
            <div class="col-xs-6">
                <a href="mailto:{{ tenant.email }}" (click)="stopPropagation($event)">
                    <h3 class="widget-heading"><i class="gi gi-envelope text-danger"></i> <br>
                        <small>Email</small></h3>
                </a>
            </div>
        </div>
    </div>
</a>