<!-- Contacts Header -->
<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Employees</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/employee">Employee</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center border-top push-inner-top-bottom">
        <ewo-alphabetical-sort [isWhiteBackground]="false" [searchControl]="searchControl" [isNumericSearch]="false"></ewo-alphabetical-sort>
    </div>
</div>
<!-- END Contacts Header -->

<div class="row">
    <div class="col-sm-3" *ngFor="let employee of employees | filterWithStartLetter: { first_name: searchControl.value }">
        <a class="widget widget-cursor-default list-block-item employee">
            <div class="widget-content text-center">
                <img [src]="getPhotoUrl(employee)" alt="avatar" class="img-circle img-thumbnail img-thumbnail-avatar">
                <h2 class="widget-heading h3 text-muted">{{employee.first_name}} {{employee.last_name}}</h2>
            </div>

            <div class="widget-content themed-background-muted text-dark text-center">
                <address class="m-t-md">
                    <strong>{{employee.title}}</strong><br/>
                    <abbr title="Phone">P:</abbr> {{employee.work_phone}}
                </address>
            </div>
            <div class="widget-content">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <h3 class="widget-heading">
                            <a href="tel:{{employee.work_phone}}"><i class="gi gi-earphone text-info"></i></a> <br>
                            <small><a href="tel:{{employee.work_phone}}">Call</a></small>
                        </h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="widget-heading">
                            <a href="mailto:{{employee.email}}"><i class="gi gi-envelope text-danger"></i></a> <br>
                            <small><a href="mailto:{{employee.email}}">Email</a></small>
                        </h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

