<!-- Contacts Header -->
<div class="content-header">
    <!--<div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Problem Types</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li><a [routerLink]="['/admin']">Administrator's Portal</a></li>
                    <li><a href="">Problem Types</a></li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="text-center border-top push-inner-top-bottom">
        <ewo-alphabetical-sort [isWhiteBackground]="true" [searchControl]="searchControl" [isNumericSearch]="false"></ewo-alphabetical-sort>
    </div>
</div>
<!-- END Contacts Header -->
<!--<div class="block full">
    <div class="block-title">
        <h2>Problem Types</h2>
    </div>

    <div class="row">
        <div class="animation-fadeInQuickInv col-sm-6" *ngFor="let problemType of problemTypes | filterWithStartLetter: { problem_name: problemTypeSearchControl.value };">
            <div class="col-sm-10">{{problemType.problem_name}}</div>
            <div class="col-sm-2 text-center">
                <a (click)="editProblemType(problemType)" data-toggle="modal" title="" href="#modal-add-problem-type"
                class="btn btn-effect-ripple btn-xs btn-success" style="overflow: hidden; position: relative;" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                <a data-toggle="tooltip" title="" class="btn btn-effect-ripple btn-xs btn-danger" style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
</div>-->

<div class="block full">
    <!-- Get Started Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a modal-dialog-open="modal-add-problem-type" class="btn btn-effect-ripple btn-success" data-toggle="modal" title="" style="overflow: hidden; position: relative;"
                data-original-title="Add Problem Type"><i class="fa fa-plus"></i></a>
        </div>
        <h2>Problem Types</h2>
    </div>
    <!-- END Get Started Title -->

    <!-- Problem Types -->
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-striped table-borderless table-hover table-vcenter">
                <tbody>
                    <tr *ngFor="let problemType of problemTypesList1 | filterWithStartLetter: { problem_name: searchControl.value };" class="animation-fadeInQuickInv">
                        <td class="hidden-xs">{{problemType.problem_name}}</td>
                        <td class="text-center" style="width: 100px;">
                            <a modal-dialog-open="modal-add-problem-type" (click)="editProblemType(problemType)" data-toggle="modal" title="" class="btn btn-effect-ripple btn-xs btn-success"
                                style="overflow: hidden; position: relative;" data-original-title="Edit"><span class="btn-ripple animate"
                                                            style="height: 22px; width: 22px; top: -2.60001px; left: -10.9875px;"></span><i
                                class="fa fa-pencil"></i></a>
                            <a modal-dialog-open="modal-remove-problem-type" (click)="removeProblemType(problemType)" data-toggle="modal" title="" class="btn btn-effect-ripple btn-xs btn-danger"
                                style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-striped table-borderless table-hover table-vcenter">
                <tbody>
                    <tr *ngFor="let problemType of problemTypesList2 | filterWithStartLetter: { problem_name: searchControl.value };" class="animation-fadeInQuickInv">
                        <td class="hidden-xs">{{problemType.problem_name}}</td>
                        <td class="text-center" style="width: 100px;">
                            <a modal-dialog-open="modal-add-problem-type" (click)="editProblemType(problemType)" data-toggle="modal" title="" class="btn btn-effect-ripple btn-xs btn-success"
                                style="overflow: hidden; position: relative;" data-original-title="Edit"><span class="btn-ripple animate"
                                                            style="height: 22px; width: 22px; top: -2.60001px; left: -10.9875px;"></span><i
                                class="fa fa-pencil"></i></a>
                            <a modal-dialog-open="modal-remove-problem-type" (click)="removeProblemType(problemType)" data-toggle="modal" title="" class="btn btn-effect-ripple btn-xs btn-danger"
                                style="overflow: hidden; position: relative;" data-original-title="Delete"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <!--<ul class="pagination">
            <li class="disabled"><a href="javascript:void(0)">Prev</a></li>
            <li class="active"><a href="javascript:void(0)">1</a></li>
            <li><a href="javascript:void(0)">2</a></li>
            <li><a href="javascript:void(0)">3</a></li>
            <li><a href="javascript:void(0)">Next</a></li>
        </ul>-->
    </div>
    <!-- END Problem Types -->
</div>

<!-- Modal Add Problem types-->
<div id="modal-add-problem-type" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">×
                </button>
                <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>{{problemTypeForm.get('id').value == null ?
                    'New' : 'Edit' }} Problem Type</strong></h3>
            </div>
            <div class="modal-body">
                <form [formGroup]="problemTypeForm" (ngSubmit)="problemTypeForm.valid && onSubmit()" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="problem_name">Name<span class="required">*</span></label>
                        <div class="col-xs-9">
                            <input [formControlValidator]="problemTypeForm.controls.problem_name" formControlName="problem_name" type="text" id="problem_name" name="problem_name" class="form-control" placeholder="Problem Name">
                            <!--<validation-messages [control]="problemTypeForm.controls.problem_name"></validation-messages>-->
                            <span class="validation-error">{{problemTypeForm.controls.problem_name.error}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-5 control-label">Check if you want to allow tennats to view this work
                            type?</label>
                        <label class="col-xs-7 switch switch-success"><input formControlName="tenant_view"
                                                                             type="checkbox" id="tenant_view"
                                                                             name="tenant_view" class=""> <span></span></label>
                    </div>
                    <!--div *ngIf="problemTypeForm.get('id').value" class="form-group">
                        <label class="col-xs-5">Active</label>
                        <label class="col-xs-7 switch switch-success">
                            <input formControlName="active" type="checkbox" id="active" name="active" class=""><span></span>
                        </label>
                    </div-->
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-success" style="overflow: hidden; position: relative;">Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal-remove-problem-type" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="problemTypeForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                <div class="modal-body">
                    <div class="col-xs-12">
                        Are you sure?
                    </div>
                    <div class="col-xs-12"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="delete">Delete</button>
                    <button type="button" data-dismiss="modal" class="btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>