<!--<div class="block-options pull-right">
            <a href="#buildingInformation" class="btn btn-effect-ripple btn-success" data-toggle="modal" title="" style="overflow: hidden; position: relative;"
                data-original-title="Add Building" (click)="onBuildingInformationEdit()"><i
                class="fa fa-plus"></i></a>
        </div>

<ewo-building-information id="buildingInformation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></ewo-building-information>-->

<!--<div id="page-content" style="min-height: 735px;">-->
<!-- Contacts Header -->
<!--<div class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="header-section">
        <h1>Building Admin</h1>
      </div>
    </div>
    <div class="col-sm-6 hidden-xs">
      <div class="header-section">
        <ul class="breadcrumb breadcrumb-top">
          <li><a href="admin-setup.html">Administrator Portal</a></li>
          <li><a href="building_admin2.html">Buildings</a></li>
          <li>Building Admin</li>
        </ul>
      </div>
    </div>
  </div>
</div>-->

<!--<ewo-breadcrumb-header></ewo-breadcrumb-header>-->
<!-- LEFT TABS WITH BUILDINGS
                        <div class="tabs-left clearfix">
                            <ul class="nav nav-tabs nav-pills nav-stacked">
                                <li class="active"><a href="#building1" data-toggle="tab">800 El Camino Real</a></li>
                                <li><a href="#building2" data-toggle="tab">433 Airport</a></li>
                                <li><a href="#building3" data-toggle="tab">Eden Medical Center</a></li>
                                <li><a href="#building4" data-toggle="tab">101 California</a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="building1"> -->

<!--<ewo-building-admin-details></ewo-building-admin-details>-->
<router-outlet></router-outlet>