<!--<div id="modal-add-contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="modal-title"><i class="fa fa-pencil"></i> <strong>Edit Building Information</strong></h3>
    </div>
    <!-- this is a new comment  -->
    <div class="modal-body">
      <form *ngIf="buildingForm" [formGroup]="buildingForm" (ngSubmit)="buildingForm.valid && onSubmit()" class="form-horizontal form-bordered">
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Building Name</label>
          <div class="col-md-6">
            <input [formControlValidator]="buildingForm.controls.name" formControlName="name" type="text" id="name" name="name" class="form-control"
              placeholder="Building Name">
            <span class="validation-error">{{buildingForm.controls.name.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="sqfootage">Square Feet <span class="required">*</span></label>
          <div class="col-md-6">
            <div class="input-group">
              <input [formControlValidator]="buildingForm.controls.sqfootage" formControlName="sqfootage" type="text" id="sqfootage" name="sqfootage"
                class="form-control" placeholder="Square Feet">
              <div class="input-group-addon help-text help-text--custom-size">(Do not enter commas)</div>
            </div>
            <span class="validation-error">{{buildingForm.controls.sqfootage.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="address">Address <span class="required">*</span></label>
          <div class="col-md-6">
            <input [formControlValidator]="buildingForm.controls.address" formControlName="address" type="text" id="address" name="address"
              class="form-control" placeholder="Address">
            <span class="validation-error">{{buildingForm.controls.address.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="city">City <span class="required">*</span></label>
          <div class="col-md-6">
            <input [formControlValidator]="buildingForm.controls.city" formControlName="city" type="text" id="city" name="city" class="form-control"
              placeholder="City">
            <span class="validation-error">{{buildingForm.controls.city.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="state">State <span class="required">*</span></label>
          <div class="col-md-6">
            <input [formControlValidator]="buildingForm.controls.state" formControlName="state" type="text" id="state" name="state" class="form-control"
              placeholder="State">
            <span class="validation-error">{{buildingForm.controls.state.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="postal_code">Postal Code <span class="required">*</span></label>
          <div class="col-md-6">
            <input [formControlValidator]="buildingForm.controls.postal_code" formControlName="postal_code" type="text" id="postal_code"
              name="postal_code" class="form-control" placeholder="Postal Code">
            <span class="validation-error">{{buildingForm.controls.postal_code.error}}</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="mgt_fee_percent">Management Fee <span class="required">*</span></label>
          <div class="col-md-6">
            <div class="input-group">
              <input [formControlValidator]="buildingForm.controls.mgt_fee_percent" formControlName="mgt_fee_percent" type="text" id="mgt_fee_percent"
                name="mgt_fee_percent" class="form-control input-sm" placeholder="Management Fee">
              <div class="input-group-addon help-text help-text--custom-size">% (Do not enter a decimal point)</div>
            </div>
            <span class="validation-error">{{buildingForm.controls.mgt_fee_percent.error}}</span>
          </div>
        </div>
        <div class="form-group form-actions">
          <div class="col-xs-12 text-right">
            <button type="submit" class="btn btn-effect-ripple btn-success" style="overflow: hidden; position: relative;">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--</div>-->
