<!-- Tickets Header --
<div class="content-header">
    <div class="row">
        <div class="col-sm-6">
            <div class="header-section">
                <h1>Tickets</h1>
            </div>
        </div>
        <div class="col-sm-6 hidden-xs">
            <div class="header-section">
                <ul class="breadcrumb breadcrumb-top">
                    <li>Dashboard</li>
                    <li><a href="">Tickets</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- END Tickets Header -->

<!-- Tickets Content --
<div class="row">
    <div class="col-md-4 col-lg-3">
        <!-- Menu Block --
        <div class="block full">
            <!-- Menu Title --
            <div class="block-title clearfix">

                <h2>Manage Requests</h2>
            </div>
            <!-- END Menu Title -->

<!-- Menu Content --
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="index.html">
                        <span class="badge pull-right">10</span>
                        <i class="fa fa-fw fa-ticket icon-push"></i> <strong>New</strong>
                    </a>
                </li>
                <li>
                    <a href="wo_replies.html">
                        <span class="badge pull-right">5</span>
                        <i class="fa fa-fw fa-exclamation-triangle icon-push"></i> <strong>Replies</strong>
                    </a>
                </li>
                <li>
                    <a href="wo_duetoday.html">
                        <span class="badge pull-right">20</span>
                        <i class="fa fa-fw fa-folder-open-o icon-push"></i> <strong>Due Today</strong>
                    </a>
                </li>
                <li>
                    <a href="wo_overdue.html">
                        <span class="badge pull-right">20</span>
                        <i class="fa fa-fw fa-folder-open-o icon-push"></i> <strong>Overdue</strong>
                    </a>
                </li>
                <li>
                    <a href="wo_pending.html">
                        <span class="badge pull-right">20</span>
                        <i class="fa fa-fw fa-folder-open-o icon-push"></i> <strong>Pending</strong>
                    </a>
                </li>
                <li>
                    <a href="wo_closed.html">
                        <span class="badge pull-right">500</span>
                        <i class="fa fa-fw fa-folder-o icon-push"></i> <strong>Closed</strong>
                    </a>
                </li>
            </ul>
            <!-- END Menu Content --
        </div>
        <!-- END Menu Block --

        <!-- Quick Month Stats Block --
        <div class="block">
            <!-- Quick Month Stats Title --
            <div class="block-title">
                <h2>Quick Stats</h2>
            </div>
            <!-- END Quick Month Stats Title --

            <!-- Quick Month Stats Content --
            <table class="table table-striped table-borderless table-vcenter">
                <tbody>
                <tr>
                    <td style="width: 60%;">
                        <strong>Total Requests</strong>
                    </td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>
                        <strong>Total Responses</strong>
                    </td>
                    <td>2590</td>
                </tr>
                <tr>
                    <td>
                        <strong>Tenant Requests</strong>
                    </td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>
                        <strong>Employee Requests</strong>
                    </td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>
                        <strong>Vendor Requests</strong>
                    </td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>
                        <strong>Avg Response Time</strong>
                    </td>
                    <td>2 hrs</td>
                </tr>
                </tbody>
            </table>
            <!-- END Quick Month Stats Content --
        </div>
        <!-- END Quick Month Stats Block --

        <!-- To Do List Block --
        <div class="block">
            <!-- Quick Month Stats Title --
            <div class="block-title">
                <h2>To Do</h2>
            </div>
            <!-- END Quick Month Stats Title --

            <form id="add-task-form" class="push">
                <input type="text" id="add-task" name="add-task" class="form-control input-lg"
                       placeholder="Enter a task">
            </form>
            <ul class="task-list">
                <li>
                    <a href="javascript:void(0)" class="task-close text-danger"><i class="fa fa-times"></i></a>
                    <label class="checkbox-inline">
                        <input type="checkbox"> Update plugins
                    </label>
                </li>
                <li class="task-done">
                    <a href="javascript:void(0)" class="task-close text-danger"><i class="fa fa-times"></i></a>
                    <label class="checkbox-inline">
                        <input type="checkbox"> To do list page
                    </label>
                </li>
                <li>
                    <a href="javascript:void(0)" class="task-close text-danger"><i class="fa fa-times"></i></a>
                    <label class="checkbox-inline">
                        <input type="checkbox"> PSDs Freebies
                    </label>
                </li>
                <li class="in-2x">
                    <a href="javascript:void(0)" class="task-close text-danger"><i class="fa fa-times"></i></a>
                    <label class="checkbox-inline">
                        <input type="checkbox"> Icon pack
                    </label>
                </li>
                <li class="in-2x">
                    <a href="javascript:void(0)" class="task-close text-danger"><i class="fa fa-times"></i></a>
                    <label class="checkbox-inline">
                        <input type="checkbox"> Widget Pack
                    </label>
                </li>
            </ul>
        </div>
        <!-- END To Do List Block --

    </div>
    <div class="col-md-8 col-lg-9">
        <!-- Tickets Block -->
<div class="block">
    <!-- Tickets Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a modal-dialog-open="modal-add-ticket" class="btn btn-sm btn-success" data-toggle="tooltip" title="New Request" data-original-title="New Request">
                <i class="fa fa-plus"></i>
            </a>
            <!-- <a href="javascript:void(0)" class="btn btn-effect-ripple btn-success" data-toggle="tooltip" title="New Work Order"><i class="fa fa-plus-square"></i></a> -->
        </div>
        <h2>Request List</h2>
    </div>
    <!-- END Tickets Title -->

    <!-- Tabs Content -->
    <div class="tab-content">
        <!-- Tickets List -->
        <div class="tab-pane active" id="tickets-list">
            <ewo-ticket-list *ngIf="!!tickets" [tickets]="tickets" [isAdmin]="true" [employees]="employees" [currentRequestType]="currentRequestType"
                [isDesktop]="true"></ewo-ticket-list>
        </div>
        <!-- END Tickets List -->

        <!-- Ticket View -->

        <!-- END Ticket View -->
    </div>
    <!-- END Tabs Content -->
</div>
<!-- END Tickets Block -->
<!--/div>
</div-->
<!-- END Tickets Content -->

<div id="modal-add-ticket" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title"><i class="fa fa-plus"></i> <strong>New Request</strong></h3>
            </div>
            <!-- this is a new comment  -->
            <div class="modal-body">
                <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="building">Building <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="building" [multiple]="false" [items]="buildings" placeholder="Select Building" (selected)="selectedBuilding($event)"
                                [active]="building"></ng-select>
                            <span *ngIf="(_submitted && building.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="tenant">Tenant <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="tenant" [multiple]="false" [items]="tenants" placeholder="Select Tenant" (selected)="selectedTenant($event)"
                                [active]="tenant"></ng-select>
                            <span *ngIf="(_submitted && tenant.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="problem_type">Type <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="problem_type" [multiple]="false" [items]="problem_types" placeholder="Select Type" (selected)="selectedProblemType($event)"
                                [active]="problem_type"></ng-select>
                            <span *ngIf="(_submitted && problem_type.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="priority">Priority <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="priority" [multiple]="false" [items]="priorities" placeholder="Select Priority" (selected)="selectedPriority($event)"
                                [active]="priority"></ng-select>
                            <span *ngIf="(_submitted && priority.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="assigned_to">Assigned to <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="assigned_to" [multiple]="false" [items]="employees" placeholder="Select Asigned To" (selected)="selectedAssignedTo($event)"
                                [active]="assigned_to"></ng-select>
                            <span *ngIf="(_submitted && assigned_to.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="source">Source <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="source" [multiple]="false" [items]="sources" placeholder="Select Source" (selected)="selectedSource($event)"
                                [active]="selectSource" [disabled]="true"></ng-select>
                            <span *ngIf="(_submitted && selectSource.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="group">Group <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <ng-select id="group" [multiple]="false" [items]="groups" placeholder="Select Group" (selected)="selectedGroup($event)" [active]="group"></ng-select>
                            <span *ngIf="(_submitted && group.length == 0)" class="validation-error">This field is Required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="subject">Subject <span class="required">*</span> </label>
                        <div class="col-xs-9">
                            <input [formControlValidator]="ticketForm.controls.subject" formControlName="subject" type="text" id="subject" name="subject"
                                class="form-control" placeholder="Subject">
                            <span class="validation-error">{{ticketForm.controls.subject.error}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="description">Description <span class="required">*</span></label>
                        <div class="col-xs-9">
                            <textarea [formControlValidator]="ticketForm.controls.description" formControlName="description" id="description" class="form-control"></textarea>
                            <span class="validation-error">{{ticketForm.controls.description.error}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Notify Tenant</label>
                        <div class="col-xs-9">
                            <label class="switch switch-success">
                                <input type="checkbox" formControlName="notify_tenant" id="notify_tenant" name="notify_tenant"><span></span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="estimated_amount">Estimated Amount</label>
                        <div class="col-xs-9">
                            <input decimalNumber [formControlValidator]="ticketForm.controls.estimated_amount" formControlName="estimated_amount" type="text"
                                id="estimated_amount" name="estimated_amount" class="form-control" placeholder="Estimated Amount">
                            <span class="validation-error">{{ticketForm.controls.estimated_amount.error}}</span>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label class="col-xs-3 control-label">Notify Employee(s)</label>
                        <div class="col-xs-9">
                            <label class="switch switch-success">
                                <input type="checkbox" (click)="emptyNoficationFields($event)" [checked]="sendNotification" (change)="sendNotification = !sendNotification" formControlName="notify_employee" id="notify_employee" name="notify_employee"><span></span></label>
                        </div>
                    </div-->
                    <div class="form-group" *ngIf="sendNotification">
                        <label class="col-xs-3 control-label" for="notified_list">Select Employee(s) </label>
                        <div class="col-xs-9">
                            <ng-select id="notified_list" [multiple]="true" [items]="employees" (selected)="selectedNotifiedList($event)" (removed)="removedNotifiedList($event)"
                                placeholder="Select Employee (s)" [active]="selectedNotified"></ng-select>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="sendNotification">
                        <label class="col-xs-3 control-label" for="optional_notification_message">Enter Optional Message</label>
                        <div class="col-xs-9">
                            <textarea [formControlValidator]="ticketForm.controls.optional_notification_message" formControlName="optional_notification_message"
                                id="optional_notification_message" class="form-control"></textarea>
                            <span class="validation-error">{{ticketForm.controls.optional_notification_message.error}}</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="sendNotification">
                        <label class="col-xs-3 control-label">Save Notification as a Note </label>
                        <div class="col-xs-9">
                            <label class="switch switch-success">
                                <input type="checkbox" formControlName="is_save_as_note" id="is_save_as_note" name="is_save_as_note"><span></span></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Billable</label>
                        <div class="col-xs-9">
                            <label class="switch switch-success">
                                <input type="checkbox" formControlName="is_billable" id="is_billable" name="is_billable"><span></span></label>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-success" style="overflow: hidden; position: relative;">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>